@use "../abstracts/mixins";
@use "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  @include mixins.respond(big-desk) {
    font-size: 75%; // 1rem = 12px
  }
  @include mixins.respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include mixins.respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include mixins.respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: variables.$color-primary;
  color: variables.$color-white;
}
